<html>

<head>
    <title>Thanks</title>

    <link href='../css/styles.css' rel='stylesheet' type='text/css'>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css'>

    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js'></script>

</head>

<body>
    <div id='thanks-root'>
        <% if(!err) { %>
            <p id='success' class='center-align'>Thank you,
                <%= contact.firstName %>
                    <%= contact.lastName %>. My team of highly trained monkeys will get in touch with you soon.
            </p>

        <% } else { %>
            <p id='error' class='center-align'>Something went wrong in logging your information.
                <br> It likely isn't your fault. Here's more details:
                <br>
                <%= err %>
            </p>
        <% } %>
        <br>
        <br>
        <a id='return' href='/'>Return to the main page</a>
    </div>
</body>

</html>