<html>

<head>
    <title> Brett's Portfolio </title>

    <style>
        p {
            font: 13pt Helvetica;
        }

        ul {
            font: 13 pt Helvetica;
        }

        body {
            background-color: linear-gradient(top, white, #ddbb00);
        }
    </style>
</head>

<body>
    <div>
        <h3>Brett Schalin's Portfolio Page</h3>


        <div>
            <p>
                <a href="https://github.com/brettschalin">My Github</a>
            </p>
            <p>
                <a href="https://linkedin.com/brettschalin">My LinkedIn page</a>
            </p>
        </div>
        <div>
            <p>Some recent projects I've worked on:</p>
            <ul>
                <li>
                    <a href="https://github.com/brettschalin/react100-hackathon">A simple crime map (in select jurisdictions)</a>
                </li>
                <li>
                    <a href="https://github.com/brettschalin/startnow-react100-san-diego-top-spots">Some things to do in San Diego</a>
                </li>
                <li>something goes here? Maybe?</li>
            </ul>
        </div>

        <div>
            <p> If you want to get a hold of me, drop a line
                <a href="/contact">here</a>.</p>
        </div>
    </div>
</body>

</html>