<html>

<head>
    <title> Brett's Portfolio </title>

    <style>
        p {
            font: 13pt Helvetica;
        }
        ul {
            font: 13 pt Helvetica;
        }
    </style>
</head>

<body>
    <div>
        <p>introduction paragraph. fill this in later.</p>

        <p>Anyways, here's some links to recent projects I've been working on.</p>

        <p><a href="https://github.com/brettschalin">My Github</a></p>

        <ul>
            <li><a href="https://github.com/brettschalin/react100-hackathon">A simple crime map (in select jurisdictions)</a></li>
            <li><a href="https://github.com/brettschalin/startnow-react100-san-diego-top-spots">Some things to do in San Diego</a></li>
            <li>something goes here? Maybe?</li>
        </ul>

        <p> If you want to get a hold of me, drop a line <a href="/contact">here</a>.</p>

    </div>
</body>

</html>