<html>

<head>
    <title> Brett's Portfolio </title>

    <style>
        p {
            font: 13pt Helvetica;
        }

        ul {
            font: 13pt Helvetica;
        }

        body {
            background: linear-gradient(white, #ffddcc);
        }
    </style>
</head>

<body>
    <div>
        <h3>Brett Schalin's Portfolio Page</h3>
        <div>
            <p> 
                Hello. My name is Brett and these are some projects I've been working on lately. First, here's my Github and LinkedIn accounts.
            </p>
            <p>
                <a href="https://github.com/brettschalin">My Github</a>
            </p>
            <p>
                <a href="https://linkedin.com/brettschalin">My LinkedIn page</a>
            </p>
        </div>
        <div>
            <p>Some recent projects I've worked on:</p>
            <ul>
                <li>
                    <a href="https://github.com/brettschalin/react100-hackathon">A simple crime map</a>
                    <ul>
                        <li>This project displays a Google map plugin which shows where police reports place crime. <br>
                            Currently, I have only gathered data from Riverside and a few areas in northern California, but I might add more later.
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="https://github.com/brettschalin/startnow-react100-san-diego-top-spots">Some things to do in San Diego</a>
                    <ul>
                        <li>
                            A simpler project, this one shows a lot of different activities San Diego has to offer. Conviently, it also provides links to their location on Google Maps.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div>
            <p> If you want to get a hold of me, drop a line
                <a href="/contact">here</a>.</p>
        </div>
    </div>
</body>

</html>